#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  justify-content: center !important;
}
.container-fluid {
  padding: 0 !important;
  padding-top: 20px !important;
}


.white {
  color: #ffffff;
}
.black {
  color: #000000;
}

.button-btn {
  background: transparent !important;
  color: white;
  font-weight: 500;

  transition: .4s;
}
.button-btn:hover {
  background: white !important;
  color: black !important;
  border: none !important;
  outline: none !important;
}

.layout {
  position: relative;
  background: url(assets/hot.jpg) no-repeat;
  background-size: cover;
  z-index: 1;
}
.layout::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  z-index: -1;
}

.second {
  font-size: 15px;
}

.column {
  background-color: #f4f5f7;
  border-radius: 2.5px;
  width: 300px;
  height: 475px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border: 1px solid gray;
}
.title-column {
  padding: 8px;
  background-color: pink;
  text-align: center;
}
.task-list {
  padding: 3px;
  transition: background-color 0.2s ease;
  background-color: #f4f5f7;
  flex-grow: 1;
  min-height: 100px;
}






@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
