.compare-product-card {
    padding: 20px 15px;
    background-color: white;
    border-radius: 10px;
}

.compare-product-card .cross {
    top: 15px;
    right: 15px;
    width: 20px;
    padding: 3px;
    cursor: pointer;
}
.product-card-detail h5.title {
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    color: var(--color-1c1c1b);
}
.product-card-detail h6.price {
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
}

.compare-product-card .product-detail div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-top: 1px solid var(--color-f5f5f7);
}
.compare-product-card .product-detail div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.compare-product-card .product-detail div h5{
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 0;
    color: var(--color-1c1c1b);
}
.compare-product-card .product-detail div p{
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 0;
}
