.review-inner-wrapper {
    background-color: white;
    padding: 30px;
}
.review-head {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 20px;
}
.review-head h4 {
    font-size: 18px;
    color: var(--color-1c1c1b);
}
.review-head p,
.review-head a {
    font-size: 14px;
    color: var(--color-777);
}

.review-form h4{
color: var(--color-777);
font-size: 18px;
}

.review-form {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.review:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.review p {
    font-size: 14px;
    color: var(--color-777);
}

.description-wrapper p {
    color: var(--color-777);
    font-size: 14px;
}

.main-product-image {
    padding: 20px;
    background: white;
    border-radius: 10px;
}

.main-product-image>div {
    border: 1px solid rgba(0,0,0,0.3);
}

.main-product-image img {
    width: 100% !important;
    height: 500px !important;
    object-fit: contain;
}

.other-product-images {
    background-color: white;
    padding: 20px;
}
.other-product-images>div{
    width: 48%;
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.3);

}

.main-product-image .js-image-zoom__zoomed-image {
    left: 140px !important;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    z-index: 10000;
}
.border-bottom {
    border-bottom: 1px solid rgba(0,0,0,0.25);
}

.main-product-details {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.main-product-details h3.title {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-1c1c1b);
    margin-bottom: 10px;
}

.main-product-details p.price {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.t-review,
a.t-review {
    color: var(--color-777);
    font-size: 14px;
}

.detail-body h5 {
font-size: 15px;
color: var(--color-1c1c1b);
}
.detail-body p {
    font-size: 13px;
    color: var(--color-777);
}

.login-card button:hover {
    border-color: transparent;
}
.login-card .signup {
    border:1px solid var(--color-febd69) ;
    background-color: transparent !important;
    color:  var(--color-febd69);
}
.login-card .signup:hover {
    background-color: var(--color-232f3e) !important;
    color: white !important;
    border-color: transparent;
}

.main-product-details a {
    color: var(--color-777);
    font-size: 14px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.review {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}